<h1>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
</h1>


<header>Hello World</header>
<div class="container">

  <div class="left-data">
    <img src="../assets/131.png" alt=""> <!--*NgIf pokedex number?  -->
    <div class="pokemon-id">
      <div class="pokemon-number">No. 131</div>
      <div class="pokemon-name">Lapras</div>
    </div>

  </div>

  <div class="right-data">
    <div class="entry">Sample</div>
    <div class="primary-type">Water</div>
    <div class="secondary-type">Ice</div>

  </div>
</div>


<router-outlet></router-outlet>
