:root {
    --red-1: #dc0a2d; /* main red */
    --black-1: #242424; /* screens and buttons */
    --blue-1: #28aafd; /* buttons */
    --green-1: #51ad60; /* screen */
    --white-1: #e3e3e3; /* buttons */
    --white-2: #dfe8e3; /*lights*/
    --white-3: #9bd9fe; /*lights*/
    --shadow-dark: rgba(0,0,0,0.3);
    --shadow-light: rgba(255,255,255,0.1);
    --blue-two: #27a9fb; /* lights */
    --blue-three: #196a9f; /* lights */
/*  */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Press Start 2P", "consolas", sans-serif;
    font-size: 16px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 800px;
    height: auto;
    background-color: var(--red-1);
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px var(--shadow-dark);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    outline-style: solid;
    outline-color: #000;
}

@media (max-width: 768px) {
    .container{
        width: 85%;
        padding: 5px;
        box-shadow: 5px 5px 10px var(--shadow-dark);
    }
    .body{
        padding: 10px;
    }
    .upper-number-button, .lower-number-button, .up, .down, .go, .random {
        padding: 10px 20px;  
        font-size: 1.2rem;  
    }
    .entry, .pokemon-id {
        font-size: 1.2rem; 
    }
    .left-data, .right-data {
        width: 100%;  
        order: unset;
    }
    .increment-buttons-container, .action-buttons-container {
        justify-content: center;  
    }
    .poke-pic {
        padding-top: 100%; 
    }
}

.left-data {
    flex: 1;
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
}

.top-lights {
    position: relative;
    height: 100%;
    width: 100%;
}

.big-blue-back {
    height: 62px;
    width: 62px;
    z-index: 1;
    background-color: var(--white-2);
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
    left: 30px;
    outline-style: solid;
    outline-color: #000;
    outline-width: 2px;
  }

.big-blue-1 {
    height: 50px;
    width: 50px;
    z-index: 1;
    border-radius: 50%;
    display: inline-block;
    margin-left: -55px;
    margin-bottom: 28px;
    outline-style: solid;
    outline-color: #000;
    outline-width: 2px;
  }

  .big-blue-dark {
    height: 45px;
    width: 45px;
    z-index: 1;
    border-radius: 50%;
    display: inline-block;
    margin-left: -46px;
    margin-bottom: 29px;
    background-color: var(--blue-three);
  }

  .big-blue-2 {
    height: 30px;
    width: 30px;
    z-index: 1;
    border-radius: 50%;
    display: inline-block;
    margin-left: -44px;
    margin-bottom: 45px;
    background-color: var(--blue-two);
  }

  .big-blue-white {
    height: 8px;
    width: 8px;
    z-index: 1;
    border-radius: 50%;
    display: inline-block;
    margin-left: -25px;
    margin-bottom: 62px;
    background-color: var(--white-3);
  }

.poke-pic {
    width: 90%;
    padding-top: 90%;
    position: relative;
    background-color: var(--white-1);
    border-radius: 10px;
    outline-style: solid;
    outline-color: #000;
}

.poke-pic img {
    position: absolute;
    background-color: var(--black-1);
    outline-style: solid;
    outline-color: #000;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
}

.pokemon-id {
    width: 350px;
    text-align: center;
    margin-top: 20%;
    background-color: var(--green-1);
    border-radius: 5px;
    outline-style: solid;
    outline-color: #000;
}

.pokemon-number, .pokemon-name {
    color: var(--white-1);
    font-weight: bold;
    padding: 5px 0;
}

.right-data {
    flex: 1;
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
}

.entry {
    width: 300px;
    max-width: 500px;
    min-height: 300px;
    overflow: auto;
    padding: 10px;
    background-color: #242424;
    color: var(--white-1);
    border: 2px solid var(--blue-three);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    outline-style: solid;
    outline-color: #000; 
}

.upper-number-buttons-container, .lower-number-buttons-container {
    display: flex;
    margin-right: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.upper-number-button, .lower-number-button {
    flex: 0 0 10%;
    padding: 12px 24px;
    margin: 1px;
    background-color: var(--blue-1);
    color: var(--white-1);
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 2px;
}

.upper-number-button:hover {
    background-color: var(--blue-three);
}

.lower-number-button:hover {
    background-color: var(--blue-three);
}

.increment-buttons-container {
    display: flex;
    justify-content: flex-end;
    width: 22%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 37px;
}

.up, .down {
    flex: 1;
    padding: 4px 16px;
    margin: 0 2px;
    background-color: var(--black-1);
    color: var(--blue-two);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.up:hover, .down:hover {
    background-color: var(--blue-three);
}

.action-buttons-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
    margin-left: -115px;
    padding-left: 0;
}

.go, .random {
    padding: 12px 24px;
    margin-right: 2px;
    background-color: var(--white-1);
    color: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.go:hover, .random:hover {
    background-color: var(--blue-three); 
}

.random-button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid var(--blue-1);
    border-radius: 5px;
    color: rgb(112, 112, 19);
}

.type-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    margin-right: 25px;
}

.primary-type, .secondary-type {
    width: 180px;
    flex: 1;
    padding: 20px;
    margin: 5px;
    min-width: 150px;
    background-color: var(--black-1);
    color: var(--white-1);
    text-align: center;
    border-radius: 10px;
    outline-style: solid;
    outline-color: #000;
}
